<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CRUD Personas Javascript</title>
    <script src="../Scripts/tabla.js"></script>
    <style>
        button
        {
            background-color:burlywood;
            padding: 10px 15px;
            margin: 10px 10px;
            border: none;
            color:white;
        }

        button:hover
        {
            opacity: 0.6;
        }

        .barraBotonesSuperior
        {
            background-color:black;
        }

        .textoMostrar
        {
            color:white;
        }

        .listaDePersonas
        {
            margin:10px;
        }
    </style>
</head>
<body>
    <div class="barraBotonesSuperior">
        <button>Nuevo</button><button>Actualizar</button><a id="textoMostrar" class="textoMostrar"></a>
    </div>
    <div class="listaDePersonas">

    </div>
</body>
</html>