
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <!--no usar directorio directo (href)-->
        <!--<a href="../Productos/Listado">listar</a>-->

        <p>@Html.ActionLink("Ir al listado", "Listado", "Productos")</p>
    </div>
</body>
</html>
