@*@model _03_PasarDatosAVista_MVC.Models.clsPersona*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <p>Hola, @ViewData["Saludo"]</p>
            <p>Nombre: @Model.nombre</p>
    </div>
</body>
</html>
