
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div> 
        <ol>
            <li>Ratones</li>
            <li>Teclados</li>
            <li>Monitores</li>
            <li>Torres</li>
            <li>Discos duros</li>
        </ol>
    </div>
</body>
</html>
